<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />

<title>Backend Ninja - Signin</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<!-- <link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" /> -->

</head>

<body>

	<div class="container">

		<h1>Hello, <span th:text="${username}"></span>!</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Telephone</th>
						<th>City</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="contact : ${contacts}">
						<td th:text="${contact.firstName}"></td>
						<td th:text="${contact.lastName}"></td>
						<td th:text="${contact.telephone}"></td>
						<td th:text="${contact.city}"></td>
						<td><a href="#"
							th:href="@{/contacts/contactform?id=__${contact.id}__}">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
						</a> <a href="#"
							th:href="@{/contacts/removecontact?id=__${contact.id}__}">
								<button type="button" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${result == 1}" class="alert alert-success" role="alert">Contact
			added successfully!</div>
		<div th:if="${result == 0}" class="alert alert-danger" role="alert">Error
			adding contact</div>

		<a href="#" th:href="@{/contacts/contactform}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Add contact
			</button>
		</a> <form th:action="@{/logout}" method="POST">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Logout
			</button>
		</form>
		
		<a href="#" th:href="@{/api/checkrest}">
			rest request
		</a>
	</div>


</body>
</html>